*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header a{
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 7px;
  font-size: 29px;
  display: inline-block;
}

header a:hover{
  background-color: wheat;
  color: green;
  transition: 1.5s;
  cursor:col-resize;
}

.home{
  height: 98vh ;
}