<header class=" d-flex justify-content-around pt-3">
   <!-- <a href=""><b>Quote</b><span><b>App</b></span></a> -->

</header>

<div class="row mt-5">
  <div class="col-md-7" *ngFor="let quote of quote;let i = index">
    <div class="card">

      <div class="card-body"></div>
      <h5 class="card-title">{{quote.quote}}</h5>

      <p class="author">{{quote.author}}</p>
      <hr>
      <div *ngIf='quote.show'>
        <app-details></app-details>
      </div>
      <div class="buttons">
        <div class="upVote">
          <button (click)="upVote (i)" class="btn btn-primary ">Upvote - {{quote.upvote}}</button>
        </div>
        <div class="downVote">
          <button (click)="downVote(i)" class="btn btn-warning " style="float: right;">Downvote -
            {{quote.downvote}}</button>
          </div>
          <div class="delete">
            <button class="btn btn-danger col-md-12 mt-9">DeleteQuote</button>
          </div>
          <!-- <app-details [quote]='quote!' (isComplete)='deleteQuotes($event,i)'></app-details> -->
          <!-- <button class="btn btn-danger" (click)="deleteQuotes(true)">Delete Quote</button></div> -->
       
      </div>

    </div>
  </div>
</div>
<div>
  <app-form (addQuote)="newQuote($event)"></app-form>
</div>
